{% extends 'index.html' %}
{% block content %}
<div class="resume_main">
    <div class="pdf_btn">
    <a href="/static/lalitresume.pdf"><button type="button" id="download_pdf_btn">Download PDF</button></a>
    </div>
    <h3 class="resume_links_head">Lalit Bawa</h3>
    <div class="resume_links">
        <a href="/"><u>Portfolio</u></a>
        <a href="github.com/lalitbawa"><u>Github</u></a>
        <a href="linkedin.com/in/lalit-bawa"><u>LinkedIn</u></a>
        <a href="mailto:bawal@cardiff.ac.uk"><u>bawal@cardiff.ac.uk</u></a>
        <a href="#"><u>+44-7867090535</u></a>
        <a href="#"><u>CF24 4HJ</u></a>
    </div>
    <p class="sub_text">A highly motivated, Self taught Developer based in Cardiff, seeking to launch a career building Web Applications using the best development and deployment practices.</p>
    <p class="sub_heading"><u>EDUCATION</u></p>
    <p><span class="focus_heading">Cardiff University</span> - MSc Computing with placement (2022 – 2024)
    </p>
    <p class="focus_heading"><u>Self Learning</u></p>
    <p class="sub_text">Created my own Personal Portfolio(www.lalitb.netlify.app) to showcase my projects.</p>
    <p class="sub_text">Working on my own Personal project, An E-commerce website(www.lalitbawa.netlify.app) which helped me to understand and learn the most in-demand skills required in the Tech Industry such as HTML, CSS, Javascript and React.</p>
    <p class="sub_text">Worked with Figma which is an online wireframing tool, mostly used by Web Designers/Developers for wireframing the design of a product. This way, I taught myself the process to convert a Figma/Adobe XD design in to a web application.</p>
    <p class="focus_heading"><u>University</u></p>
    <p class="sub_text">Learnt HTML,CSS, and how to structure a web page to be properly indexed by various search engines.</p>
    <p class="sub_text">Basics of JavaScript and Python(incl. frameworks such as flask)</p>
    <p><span class="focus_heading">Jagannath Institute of Management Sciences, Jagannath University</span>- Bachelor of Arts (Honours) Hospitality Management (2017 – 2020)
    </p>
    <p class="sub_text">Completed my dissertation on how Indian cuisine has evolved over the years.</p>
    <p class="sub_text">Designed the structure of a fictitious mobile application 'Nearchef' which allows netizens to connect to their nearest located chef who they can hire, according to the user rating, past work experience and hourly rate.</p>
    <p class="sub_text">Participated in the JIMS master chef competition and won at second place among 12 teams.</p>
    <p class="sub_text">Took part in various multicultural events and worked there as a cook as well as in catering.</p>
    <p class="sub_text">Hosted a survey for a small scale softdrink company named ‘Zeera’ to get a better idea on the flavours which people prefer within that locality.</p>
    <p class="sub_heading"><u>PROFESSIONAL EXPERIENCE</u></p>
    <p><span class="focus_heading">Cardiff Student Union</span>- Bar Assistant(Part-Time) (Nov 2022- Present)</p>
    <p class="sub_text"><i>Cardiff Students' Union is the Students' Union for Cardiff University which supports over 60 sports clubs and 200 sports socities.</i></p>
    <p class="sub_text">Cardiff Students' Union is the Students' Union for Cardiff University which supports over 60 sports clubs and 200 sports socities.</p>
    <p class="sub_text">Clearing tables and bar after closing.</p>
    <p><span class="focus_heading">Bawa Stationary</span>- Cashier, Store Helper (Jan 2021 - September 2022)</p>
    <p class="sub_text"><i>Bawa Stationary, is a family run business located in the capital city of India, New Delhi that provides students with all sorts of stationary at very competitive prices with a wide variety to choose from.</i></p>
    <p class="sub_text">Running the store without any help even in rush hours.</p>
    <p class="sub_text">Interacting with the customers and helping them to buy the products, best suited for their needs.</p>
    <p><span class="focus_heading">Hans Hotel</span>- Hotel Intern (June 2019 - Aug 2019)</p>
    <p class="sub_text"><i>Hans Hotel is a 4 star hotel located in the center of Capital city of India, New Delhi.</i></p>
    <p class="sub_text">Worked as an Intern Chef in their kitchen department to help the lead Chef fulfill their day to day responsibilities.</p>
    <p class="sub_text">Helping banquet department during events to meet daily requirements.</p>
    <p class="sub_text">Worked with Food and Beverages department to deliver food from kitchen to the restaurant as well as to the guest’s rooms in a timely manner.</p>
    <p class="sub_text">Worked with Front Office department to maintain a log of guests who are checking in and out as well as records of their bills and maintenance requests.</p>
    <p class="sub_heading"><u>SIDE PROJECTS</u></p>
    <p><span class="focus_heading">Beyond Designs</span>- E-commerce Website - www.lalitbawa.netlify.app</p>
    <p class="focus_heading"><u>Technologies used</u></p>
    <p class="sub_text">HTML, CSS, Javascript, React</p>
    <p class="focus_heading"><u>Features</u></p>
    <p class="sub_text">Responsive layout for most of the devices.</p>
    <p class="sub_text">You can use Filters, Reviews Carousel, Sort Items, Add to Cart, Tap on product for more details, Card authentication and more.</p>
    <p class="focus_heading"><u>More to come…</u></p>
    <p class="sub_text">Search function, Login system, invoice generation on a successful order, admin panel and, more.</p>
    <p class="focus_heading"><u>SKILLS</u></p>
    <p class="sub_text"><span class="focus_heading">HTML </span>- Semantic HTML and laying down the basic structure of a Web Page efficiently.</p>
    <p class="sub_text"><span class="focus_heading">CSS</span> - Creating responsive websites that looks almost identical to the design given by the clients as well as using the Css frameworks such as - Tailwind and Bootstrap.</p>
    <p class="sub_text"><span class="focus_heading">Javascript</span> - Adding functionality to a website, working with API’S and DOM, using the best programming practices and, the latest(ES6) features along with the most efficient frameworks such as React.</p>
    <p class="sub_heading"><u>VOLUNTEERSHIPS</u></p>
    <p><span class="focus_heading">Mobile Creches</span> - NGO Volunteer (July 2020 - Dec 2020)</p>
    <p class="sub_text"><i>Mobile Creches is a pioneering organisation for the rights of marginalised children to early childhood development.</i></p>
    <p class="sub_text">Fundraising to provide underprivileged children with education, food and a safe place to live.</p>
</div>
{% endblock  %}